$LightTextColor : hsl(204, 43%, 93%);
$BorderRadius : 10px;
$TopPadding : 23px;
$SidePadding : 40px;
$SubHeadText : 18px;
$BodyCopy : 16px;
$MobileBorder : 5px;
$MobileTopPad : 8px;
$MobileSidePad : 25px;
