
////////// Varibles /////////
$LightTextColor : hsl(204, 43%, 93%);


////////// Global styles ///////////

body {
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}


////////  Grid  /////////
.grid {
    display: grid;
    min-height: inherit;
    grid-template-columns: 1fr;
    place-items: center;
}

.innerGrid {
    display: grid;
    width: 635px;
    height: 480px;
    grid-template-columns: 1fr 1fr;
}

.container {
    font-family: 'Karla', sans-serif;
}

.join {
    background-color: white;
    h1 {
        color: hsl(179, 62%, 43%);
    }
    h3 {
        color: hsl(71, 73%, 54%);
    }
    p {
        color: hsl(218, 22%, 67%);
    }
}

.subscription {
    background-color: hsl(179, 62%, 43%);
    color: $LightTextColor;
    
}

.explanation {
    background-color: #4abebd;
    color: $LightTextColor;
}



///////// Footer ////////////////
footer {
     top: 90%;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    a {
        color: hsl(228, 45%, 44%); 
    } 
}
